# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
docs/
.cursor/
# Expo
.expo/
dist/
web-build/
expo-env.d.ts
docs/
# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
fonts/
assets/
.vscode/
# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

# Временные файлы
*.swp
*.swo
.tmp
.temp

# Логи
logs
*.log
SpaceMono-Regular.ttf
# Тестовые отчеты
coverage/
.jest/

# Android/iOS специфичные файлы
android/.gradle
android/build/
android/app/build/
android/captures/
android/local.properties
ios/build/
ios/Pods/
ios/Podfile.lock
ios/*.xcworkspace
ios/*.xcodeproj/xcuserdata
ios/*.xcodeproj/project.xcworkspace/xcuserdata

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Другие файлы
.idea/
*.sublime-*
.history/
